.transacao .valores {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.1em;
} 
.transacao .valores span {
    font-weight: normal;

}
.lista-transacao {
    flex-wrap: wrap;
}
.lista-transacao div {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.lista-transacao table {
    width: 100%;
    border-collapse: collapse;
}

th,
.lista-transacao td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.lista-transacao td:last-of-type {
    display: flex;
    justify-content: start;
}