.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000050;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-conteudo {
  background: #333f49;
  padding: 20px;
  border-radius: 8px;
  min-width: 400px;
}

.modal-conteudo > div:first-of-type {
  width: 100%;
  display: flex;
  justify-content: end;
}

.modal-fechar {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
}

.botao-abrir-modal {
  display: flex;
  width: 100%;
  justify-content: end;
}