
.lista-pessoas table td:last-child  {
    font-weight: 500;
}

.lista-pessoas table td:last-child a:hover {
    color: var(--cor-primaria);

}

.lista-pessoas table td:last-child button:last-of-type {
    background-color: var(--cor-erro);

}

.lista-pessoas table td:last-child button:last-of-type:hover {
    background-color: var(--cor-erro-hover);

}