.container{
    display: flex;
    flex-wrap: wrap;
}
.container>div{
    width: 100%;
    display: flex;
    justify-content: end;
}
h2 {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
td:last-of-type{
    display: flex;
    justify-content: end;
    gap: 20px;
}

th {
}

table button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.editar {
    background: #4CAF50;
    color: white;
}

.excluir {
    background: #f44336;
    color: white;
}

button:hover {
    opacity: 0.9;
}