:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --cor-primaria: #535bf2;
  --cor-primaria-hover: #3c43c3;

  --cor-sucesso: #2da633;
  --cor-erro: #c63333;
  --cor-erro-hover: #a82a2a;

  --cor-borda: #e2e8f012;

  --cor-fundo: #275888;
  --cor-input: #FFFFFF;

  --cor-texto-destacado: #646cff;
  --cor-texto-escuro: #333f49;
  --cor-texto-suave: #64748b;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#root {
  max-width: 960px;
  width: 100%;
  padding: 2rem;
}

nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
  font-weight: bold;
  flex-wrap: wrap;
}

nav h2 {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  color: var(--cor-texto-suave);
}

nav div {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.nav-link--ativo {
  font-size: 1.1rem;
  transition: font-size 0.3s ease;
}

nav a:hover {
  color: var(--cor-primaria);
}

a {
  text-decoration: none;
  color: var(--cor-texto-destacado);
}

.botao,
button {
  background-color: var(--cor-primaria);
  color: var(--cor-textos);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  max-width: 300px;
  font-weight: bold;
}

.botao:hover,
button:hover {
  background-color: var(--cor-primaria-hover);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

form button {
  align-self: center;
  min-width: 150px;
  margin: 1rem 0;
}

form .item-formulario {
  display: flex;
  flex-direction: column;
}

form .item-formulario label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

form input,
form select {
  padding: 0.5rem;
  border: 1px solid var(--cor-borda);
  border-radius: 4px;
  background-color: var(--cor-input);
  color: var(--cor-texto-escuro);
  font-weight: bold;
  font-size: 1rem;

}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid var(--cor-borda);
}

td span {
  text-align: left;
  display: inline-block;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td:last-child div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
}

td .receita {
  color: var(--cor-sucesso);
  font-weight: bold;
}

td .despesa {
  color: var(--cor-erro);
  font-weight: bold;
}

td .ambas {
  font-weight: bold;
}

.icone {
  width: 25px;
  height: 25px;


}

.icone:hover {
  stroke-width: 3;
}

.modal-fechar:hover {
  background-color: transparent;
}