
.form-transacao .item-formulario fieldset   {
    max-height: 100px;
    overflow-y: auto;
    border-radius: 5px;
}
.form-transacao .item-formulario fieldset .categorias .item {
    display: flex;
    border-radius: 0;
}
.form-transacao .item-formulario fieldset .categorias .item {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    gap: 20px;
    cursor: pointer;
    padding: 5px 10px;
}

.form-transacao .item-formulario fieldset .categorias .item:hover {
    background-color: #00000020;
    border-radius: 8px;
}

.form-transacao .item-formulario fieldset .categorias .item div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-transacao .item-formulario fieldset .categorias label {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form-transacao .item-formulario fieldset .categorias .item input {
    cursor: pointer;
    width: 25px;
}